body{ font-family:Verdana, Geneva, sans-serif; }
ul#menu{ list-style-type:none; width:100%; background-color:#000; top:0; margin:0; padding:0; overflow:hidden; }
.imgResponsive{float:left}
li#menu{ float:right; }
ul#menu li a#menu{ display:block; padding:14px 16px; color:WHITE; text-decoration:none; text-align:center; }


ul#holi { list-style-type:none; width:100%; background-color:#FFF; top:0; margin:0; padding:0; overflow:hidden; }
li#holi { float:left; }

li a:hover{ background-color:#0AF; }




