@charset "utf-8";
/* CSS Document */
.centrar{ text-align:center; }
body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}
.zelda{
	color:deepskyblue;
}
.blanco{color:white}
	.imagenR{height: 100%;width: 100%;display: block;margin: 0 auto;}
h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: black;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: dodgerblue;
	z-index: 2;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 954px) {
	.parrafo{font-size: 16px}
	.titu{ color: deepskyblue; text-align: center; font-size: 35px; font-family: "Verdana", Geneva, sans-serif; }
	.subtitu{color: deepskyblue; text-align: center; font-size: 20px; font-family: "Verdana", Geneva, sans-serif; }
	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: midnightblue;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border: medium;
	}

	.toggle:hover {
		background-color: blueviolet;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		border: medium;
		background-color: steelblue; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

*{ box-sizing:border-box; }
#contenedor{ position:relative; width:80%; margin:0 auto; font-family: "Verdana", Geneva, sans-serif; }

.azul{color: deepskyblue;}
.fila:after{ position:relative; content:""; clear:both; display:table; width:100%; }
.fila2{ position:relative; content:""; clear:both; display:table; width:80%; }
[class *= "col-"]{ position:relative; float:left; padding:10px; }

[class*="col-s"] { width: 100%; }

@media only screen and (min-width: 600px) {
	.pad{padding-top: 150px}
	.parrafo{font-size: 17px}
	.titu{ color: deepskyblue; text-align: center; font-size: 40px; font-family: "Verdana", Geneva, sans-serif; }
	.subtitu{color: deepskyblue; text-align: center; font-size: 30px; font-family: "Verdana", Geneva, sans-serif; }
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	
	
}

@media only screen and (min-width: 960px) {
	.parrafo{font-size: 20px}
	.titu{ color: deepskyblue; text-align: center; font-size: 50px; font-family: "Verdana", Geneva, sans-serif; }
	.subtitu{color: deepskyblue; text-align: center; font-size: 35px; font-family: "Verdana", Geneva, sans-serif; }
	
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

.imagedec{height:200px; width:210px}

@media all and (max-width : 330px) {
	.titu{ color: deepskyblue; text-align: center; font-size: 20px; font-family: "Verdana", Geneva, sans-serif; }
	.subtitu{color: deepskyblue; text-align: center; font-size: 20px; font-family: "Verdana", Geneva, sans-serif; }
	.parrafo{font-size: 15px}
	nav ul li {
		display:block;
		width: 94%;
	}
	.imgResponsive{height: 100%;width: 100%}

}