.footer-bottom {
    background-color: darkgray;
    min-height: 30px;
    width: 100%;
    position: fixed;
    bottom: 2px;
    float: bottom;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

input{
    padding: 2px;
    margin: 5px;
}

.modal{
    height: auto!important;
}

.modal-body {
    max-height: calc(100vh - 1px);
    overflow: auto;
}
